<div class="main-container">
    <h1>Teams Listing</h1>
</div>

<div class="main-container">
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        {{ range where .Site.RegularPages "Section" "teams" }}
        {{ $currentTeam := . }}
        <a href="{{ $currentTeam.RelPermalink }}" style="text-decoration: none; color: inherit; display: block; width: calc(33.33% - 10px);">
            <div style="display: flex; flex-direction: column; border: 1px solid #ddd; border-radius: 5px; overflow: hidden; background-color: #f9f9f9;">
                <!-- Team Image -->
                <div style="width: 100%; overflow: hidden; display: flex; align-items: center; justify-content: center; background-color: #fff;">
                    {{ with $currentTeam.Params.team_image }}
                    <img src="{{ . }}" alt="{{ $currentTeam.Params.team_name }}" style="max-width: 100%; max-height: 100%; object-fit: cover;" loading="lazy">
                    {{ else }}
                    <img src="/images/default-game-image.webp" alt="Default Game Image" style="max-width: 100%; max-height: 100%; object-fit: cover;" loading="lazy">
                    {{ end }}
                </div>
                
                <!-- Team Details -->
                <div style="padding: 10px;">
                    <h3 style="margin: 0; font-size: 1.2rem;">{{ $currentTeam.Params.team_name }}</h3>
                    <div style="display: flex; font-size: 14px; justify-content: space-between; align-items: center; margin: 5px 0;">
                        
                        <!-- Player Count -->
                        <span>
                            <i class="fas fa-user" style="margin-right: 5px;"></i>
                            {{ $playerCount := 0 }}
                            {{ range where .Site.RegularPages "Section" "players" }}
                                {{ if and (.Params.team) (eq .Params.team $currentTeam.Params.team_name) }}
                                    {{ $playerCount = add $playerCount 1 }}
                                {{ end }}
                            {{ end }}
                            {{ $playerCount }} Players
                        </span>
                        
                        <!-- Team Count -->
                        <span>
                            <i class="fas fa-users" style="margin-right: 5px;"></i>
                            {{ $teamCount := 0 }}
                            {{ range where .Site.RegularPages "Section" "teams" }}
                                {{ with .Params.games }}
                                    {{ range . }}
                                        {{ if eq .game_name $currentTeam.Params.team_name }}
                                            {{ $teamCount = add $teamCount 1 }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                            {{ $teamCount }} Teams
                        </span>
                    </div>
                    
                    <!-- Team Description -->
                    <div style="font-size: 14px; color: #8f8f8f;">
                        {{ with $currentTeam.Params.description }}
                        {{ . }}
                        {{ else }}
                        No description available for this team.
                        {{ end }}
                    </div>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</div>
