<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,500;14..32,600;14..32,700;14..32,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {{ partial "basic/head/titles.html" .}}
    {{ partial "basic/head/descriptions.html" .}}
    {{ partial "basic/head/css.html" .}}
    {{ partial "basic/head/javascript.html" .}}
    {{ partial "basic/head/fonts.html" .}}
    {{ partial "basic/head/canonicals.html" .}}
    {{ partial "schema/localbusiness.html" . }}
    <link rel="icon" href="/uploads/favicon.png" type="image/png">
    {{ $colors := site.Data.settings.colors }}

    <style>
    :root {
    --primary: {{ $colors.primary }};
    --primary-hover: {{ $colors.primary_hover }};
    --secondary: {{ $colors.secondary }};

    --bg: {{ $colors.background }};
    --bg-light: {{ $colors.bg_light }};

    --text: {{ $colors.text }};
    --text-light: {{ $colors.text_light }};

    --border: {{ $colors.border }};
    --card-bg: {{ $colors.card_bg }};

    --footer-bg: {{ $colors.footer_bg }};
    --footer-text: {{ $colors.footer_text }};
    }
    </style>
</head>
<body>
    {{ partial "main/header.html" }}
    <main class="content">
        {{ block "main" . }}
        <!-- Default content can go here if no "main" block is defined in child templates -->
        {{ end }}
    </main>

    {{ partial "main/footer.html" }}

</body>
</html>